flows.json
[{"id":"d2143b4e.692a38","type":"tab","label":"Message Broker","disabled":false,"info":""},{"id":"7f677ad1.038694","type":"tab","label":"freelancermap.de","disabled":false,"info":""},{"id":"43ce739f.db083c","type":"tab","label":"freelancer.de","disabled":false,"info":""},{"id":"47ac7602.dc7818","type":"tab","label":"freelance.de","disabled":false,"info":""},{"id":"4fe6f092.4ba19","type":"tab","label":"Project Scraper","disabled":false,"info":""},{"id":"5a5a273b.f680c8","type":"tab","label":"Project Broker","disabled":false,"info":"# Receive Projects\nThe Broker receives incoming parsed projects from the Parsers and updates the project index.\n\n# Keep Lists\nThe Broker updates the index (/all) with new projectes from the Parsers.\n\n# Receive Commands\n## All\nReturn all projects in the index\n\n## $n\nReturn $n or all projects\n\n## Latest\nReturn 10 latest projects\n\n## Subscribe\nSubscribe to the Bot and receive new Projects as they're being parsed\n\n\n\n\n## "},{"id":"9ffdae8c.a3b8a","type":"tab","label":"Measurements","disabled":false,"info":""},{"id":"a032bf06.43f62","type":"tab","label":"devops-projects.de","disabled":false,"info":""},{"id":"541f6324.99a4bc","type":"chatbot-context-store","z":"","name":"Telegram","contextStorage":"plain-file","contextParams":"{ \"path\": \"/data/telegram-context\" }"},{"id":"a2636dba.09499","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1d161765.a25dc9","type":"mongodb","z":"","hostname":"mongodb","port":"27017","db":"devops","name":"MongoDB"},{"id":"7b3bc72b.d79f28","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"devops","name":"","usetls":false,"tls":""},{"id":"261672c5.53165e","type":"chatbot-telegram-node","z":"","botname":"DevOps Projects","usernames":"","providerToken":"","polling":"1000","store":"541f6324.99a4bc","log":"","parseMode":"HTML","debug":true,"webHook":"","connectMode":"polling"},{"id":"5e2ed975.696b08","type":"chatbot-telegram-receive","z":"d2143b4e.692a38","bot":"261672c5.53165e","botProduction":"261672c5.53165e","x":130,"y":140,"wires":[["411ada87.a30f74","b46a53e5.00c45","c528dd56.9939f8","c250196c.76bfc8"]]},{"id":"910469ea.e66448","type":"chatbot-telegram-send","z":"d2143b4e.692a38","bot":"261672c5.53165e","botProduction":"261672c5.53165e","track":true,"passThrough":true,"outputs":1,"x":190,"y":40,"wires":[[]]},{"id":"b3ab4216.36e4e","type":"http request","z":"7f677ad1.038694","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.freelancermap.de/projektboerse.html?pq=Devops&profisuche=1&pq_vertragsart%5Bcontract_type.permanent%5D=FESTANSTELLUNG&pq_vertragsart%5Bcontract_type.remote%5D=REMOTE&pq_projekteinstellung=14&pq_sorttype=1&mCats%5B0%5D=1&mCats%5B1%5D=3","tls":"","persist":true,"proxy":"","authType":"","x":130,"y":80,"wires":[["b3cecb53.f39d08"]]},{"id":"976ce92b.a74528","type":"inject","z":"7f677ad1.038694","name":"freelancermap.de","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["b3ab4216.36e4e"]]},{"id":"b3cecb53.f39d08","type":"html","z":"7f677ad1.038694","name":"Get Projects","property":"payload","outproperty":"payload","tag":".list-unstyled li","ret":"html","as":"multi","x":110,"y":120,"wires":[["f8b24dc4.8e278"]]},{"id":"f8b24dc4.8e278","type":"html","z":"7f677ad1.038694","name":"","property":"payload","outproperty":"payload","tag":".title a","ret":"attr","as":"multi","x":90,"y":160,"wires":[["9cc7f206.67423"]]},{"id":"9cc7f206.67423","type":"function","z":"7f677ad1.038694","name":"Get Project URL","func":"msg.url = \"https://www.freelancermap.de\"+msg.payload.href;\nmsg.payload = msg.url;\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":200,"wires":[["2d91c5b8.26115a"]]},{"id":"2d91c5b8.26115a","type":"mqtt out","z":"7f677ad1.038694","name":"","topic":"scraper","qos":"","retain":"","broker":"a2636dba.09499","x":300,"y":200,"wires":[]},{"id":"4cad4aa7.cb56b4","type":"mqtt out","z":"5a5a273b.f680c8","name":"","topic":"telegram/message","qos":"","retain":"","broker":"a2636dba.09499","x":850,"y":460,"wires":[]},{"id":"bacaecaa.65e8","type":"mqtt in","z":"5a5a273b.f680c8","name":"","topic":"broker","qos":"2","datatype":"json","broker":"a2636dba.09499","x":110,"y":80,"wires":[["9816344f.b94a08"]]},{"id":"37c0d7b9.b886f8","type":"http request","z":"47ac7602.dc7818","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":true,"proxy":"","authType":"","x":130,"y":120,"wires":[["e02036ee.74ac58"]]},{"id":"35f7128c.011efe","type":"inject","z":"47ac7602.dc7818","name":"freelance.de","topic":"parser/freelancede","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["2ad7a883.d0e548"]]},{"id":"e8f89e7b.c9ca9","type":"html","z":"47ac7602.dc7818","name":"Get Projects","property":"payload","outproperty":"payload","tag":".project-list div","ret":"html","as":"multi","x":110,"y":200,"wires":[["d0f53091.7bdf2"]]},{"id":"d0f53091.7bdf2","type":"html","z":"47ac7602.dc7818","name":"","property":"payload","outproperty":"payload","tag":".freelancer-content h3 a","ret":"attr","as":"multi","x":150,"y":240,"wires":[["53002fe7.6a8f"]]},{"id":"53002fe7.6a8f","type":"function","z":"47ac7602.dc7818","name":"Get Project URL","func":"msg.url = \"https://www.freelance.de\"+msg.payload.href;\nmsg.payload = msg.url;\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":280,"wires":[["448331fb.3e917"]]},{"id":"12cb18a2.8f1907","type":"http request","z":"43ce739f.db083c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.freelancer.de/jobs/?keyword=DevOps","tls":"","persist":true,"proxy":"","authType":"","x":130,"y":80,"wires":[["38f66cd5.8aef64"]]},{"id":"b58717c9.4f21c8","type":"inject","z":"43ce739f.db083c","name":"freelancer.de","topic":"parser/freelancerde","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["12cb18a2.8f1907"]]},{"id":"38f66cd5.8aef64","type":"html","z":"43ce739f.db083c","name":"Get Projects","property":"payload","outproperty":"payload","tag":"#project-list","ret":"html","as":"multi","x":110,"y":120,"wires":[["498a21a7.bf8b2"]]},{"id":"498a21a7.bf8b2","type":"html","z":"43ce739f.db083c","name":"","property":"payload","outproperty":"payload","tag":".JobSearchCard-primary-heading a","ret":"attr","as":"multi","x":180,"y":160,"wires":[["b79304ba.0c2188"]]},{"id":"b79304ba.0c2188","type":"function","z":"43ce739f.db083c","name":"Get Project URL","func":"msg.url = \"https://www.freelancer.de\"+msg.payload.href;\nmsg.payload = msg.url;\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":200,"wires":[["2e70b2b.107064e"]]},{"id":"2ad7a883.d0e548","type":"function","z":"47ac7602.dc7818","name":"Multipart/Form-Data","func":"msg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    //\"Accept\": \"application/json\"\n}\nmsg.url = \"https://www.freelance.de/Projekte/K/IT-Entwicklung-Projekte/\";\nmsg.payload = {\n    \"__search_freetext\": \"DevOps\"\n}\n//msg.payload = \"__search_sort_by=2&__search_project_age=0&__search_profile_availability=0&__search_profile_update=0&__search_project_start_date=&__search_profile_ac=&__search_additional_filter=&__seo_search=search&__seo_search_extended=0&__search_freetext=DevOps&__search_city=&seal=cfb570dd4985fc38fe0536dcd80\";\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":80,"wires":[["37c0d7b9.b886f8"]]},{"id":"e02036ee.74ac58","type":"function","z":"47ac7602.dc7818","name":"Check if Blocked","func":"if (msg.payload === \"\" && msg.statusCode == 302) {\n    // We have been blocked\n    node.error(\"We have been blocked at freelance.de\", msg)\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":160,"wires":[["e8f89e7b.c9ca9"]]},{"id":"195789aa.b12cb6","type":"comment","z":"47ac7602.dc7818","name":"","info":"We could proxy all calls through a Lambda function (should get a new IP on each call)","x":330,"y":160,"wires":[]},{"id":"916cc98d.46f8e8","type":"mqtt in","z":"4fe6f092.4ba19","name":"","topic":"scraper","qos":"2","datatype":"auto","broker":"a2636dba.09499","x":90,"y":180,"wires":[["5034e9b0.bb5348","18ca28ab.cb38b7"]]},{"id":"b0ef177e.e063e8","type":"unfluff","z":"4fe6f092.4ba19","name":"Scrape","url":"","x":260,"y":420,"wires":[["9d5b27dd.b5b1d8"]]},{"id":"c7db550d.49f3e8","type":"mqtt out","z":"4fe6f092.4ba19","name":"","topic":"broker","qos":"","retain":"","broker":"a2636dba.09499","x":650,"y":420,"wires":[]},{"id":"b6fdae52.ae1eb","type":"inject","z":"4fe6f092.4ba19","name":"Trigger Queue","topic":"control","payload":"trigger","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":320,"wires":[["18ca28ab.cb38b7"]]},{"id":"18ca28ab.cb38b7","type":"q-gate","z":"4fe6f092.4ba19","name":"Queue Conversions","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","maxQueueLength":"1000","keepNewest":false,"qToggle":true,"persist":true,"x":490,"y":360,"wires":[["8cc18883.4601f8"]]},{"id":"8cc18883.4601f8","type":"function","z":"4fe6f092.4ba19","name":"Prepare URL Lookup","func":"msg.url = msg.payload;\nmsg.payload = {}\nmsg.payload.url = msg.url;\n//msg.payload.canonicalLink = msg.url;\n//msg.payload = [{},{}];\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["63698938.0c7208"]]},{"id":"abb8d1b7.6dfc3","type":"inject","z":"4fe6f092.4ba19","name":"Demo Data","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":420,"wires":[["7fdf6520.efe03c"]]},{"id":"7fdf6520.efe03c","type":"function","z":"4fe6f092.4ba19","name":"[test] Set msg.url","func":"msg.url = \"https://webscraper.io/test-sites/tables\";\n\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":460,"wires":[[]]},{"id":"430b1885.9113c8","type":"catch","z":"4fe6f092.4ba19","name":"","scope":null,"uncaught":false,"x":100,"y":40,"wires":[["56999d21.dcaed4"]]},{"id":"56999d21.dcaed4","type":"debug","z":"4fe6f092.4ba19","name":"Scraper Errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":280,"y":40,"wires":[]},{"id":"2e70b2b.107064e","type":"mqtt out","z":"43ce739f.db083c","name":"","topic":"scraper","qos":"","retain":"","broker":"a2636dba.09499","x":340,"y":200,"wires":[]},{"id":"448331fb.3e917","type":"mqtt out","z":"47ac7602.dc7818","name":"","topic":"scraper","qos":"","retain":"","broker":"a2636dba.09499","x":380,"y":280,"wires":[]},{"id":"83856be9.2e6638","type":"switch","z":"4fe6f092.4ba19","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"false","repair":false,"outputs":2,"x":710,"y":340,"wires":[[],["b0ef177e.e063e8"]]},{"id":"9d5b27dd.b5b1d8","type":"function","z":"4fe6f092.4ba19","name":"Add Infos","func":"if (msg.payload.title === \"\" || msg.payload.title == \"504 Gateway Time-out\") {\n    // Parsing Error or Deadlink\n    return;\n}\n\nif (msg.payload.canonicalLink === \"\" || !msg.payload.canonicalLink) {\n    msg.payload.canonicalLink = msg.url;  \n}\n\nif (msg.payload.url === \"\" || !msg.payload.url) {\n    msg.payload.url = msg.url;\n}\n\nvar url = \"\";\nvar match = msg.url.match(/:\\/\\/(www[0-9]?\\.)?(.[^/:]+)/i);\nif (match !== null && match.length > 2 && typeof match[2] === 'string' && match[2].length > 0) {\n    msg.payload.source = match[2];\n}\nelse {\n    msg.payload.source = \"\";\n}\n\nmsg.payload.creation_date = new Date(Date.now());\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":420,"wires":[["c7db550d.49f3e8","fa45b46d.09f7f8"]]},{"id":"9816344f.b94a08","type":"function","z":"5a5a273b.f680c8","name":"Cleanup","func":"if (msg.payload.title === \"\") {\n    node.warn(\"Empty Project Title. Discarding URL \"+msg.payload.canonicalLink);\n    node.warn(msg.payload);\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["2bb92c22.75d794","5671d258.c92e2c","c6dbf32e.44c12"]]},{"id":"95b768a4.5189b8","type":"debug","z":"5a5a273b.f680c8","name":"MongoDB Insert Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":40,"wires":[]},{"id":"9474b4eb.27bce8","type":"influxdb out","z":"9ffdae8c.a3b8a","influxdb":"7b3bc72b.d79f28","name":"project_count","measurement":"project_count","precision":"","retentionPolicy":"","x":480,"y":200,"wires":[]},{"id":"2c6be50e.2608ba","type":"function","z":"9ffdae8c.a3b8a","name":"Prepare Measurement","func":"msg.measurement = \"project_count\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":60,"wires":[[]]},{"id":"2ae51a06.7882b6","type":"mqtt in","z":"9ffdae8c.a3b8a","name":"","topic":"measurements","qos":"2","datatype":"json","broker":"a2636dba.09499","x":120,"y":60,"wires":[["2c6be50e.2608ba"]]},{"id":"3a118505.b5008a","type":"catch","z":"5a5a273b.f680c8","name":"","scope":null,"uncaught":false,"x":120,"y":40,"wires":[["c8e14a79.30aae8"]]},{"id":"c8e14a79.30aae8","type":"debug","z":"5a5a273b.f680c8","name":"Broker Errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":40,"wires":[]},{"id":"63698938.0c7208","type":"mongodb in","z":"4fe6f092.4ba19","mongodb":"1d161765.a25dc9","name":"","collection":"projects","operation":"find","x":750,"y":260,"wires":[["83856be9.2e6638"]]},{"id":"2bb92c22.75d794","type":"mongodb out","z":"5a5a273b.f680c8","mongodb":"1d161765.a25dc9","name":"Store project","collection":"projects","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":470,"y":80,"wires":[]},{"id":"9030e8fe.8605b8","type":"status","z":"5a5a273b.f680c8","name":"MongoDB Insert Status","scope":["2bb92c22.75d794"],"x":500,"y":40,"wires":[["95b768a4.5189b8"]]},{"id":"f8dbfe8a.4be5f","type":"mongodb in","z":"9ffdae8c.a3b8a","mongodb":"1d161765.a25dc9","name":"projects.count()","collection":"projects","operation":"count","x":300,"y":200,"wires":[["9474b4eb.27bce8"]]},{"id":"299cf649.bf11ea","type":"inject","z":"9ffdae8c.a3b8a","name":"Project Count","topic":"","payload":"{}","payloadType":"json","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":200,"wires":[["f8dbfe8a.4be5f"]]},{"id":"893ec26c.5cc91","type":"catch","z":"7f677ad1.038694","name":"","scope":null,"uncaught":false,"x":340,"y":40,"wires":[["98822252.2723c"]]},{"id":"98822252.2723c","type":"debug","z":"7f677ad1.038694","name":"freelancermap.de Errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":40,"wires":[]},{"id":"5034e9b0.bb5348","type":"function","z":"4fe6f092.4ba19","name":"Count URLs found by Scrapers","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["15e158e6.62e9b7"]]},{"id":"15e158e6.62e9b7","type":"influxdb out","z":"4fe6f092.4ba19","influxdb":"7b3bc72b.d79f28","name":"urls_scraped","measurement":"urls_scraped","precision":"","retentionPolicy":"","x":550,"y":100,"wires":[]},{"id":"eb1f85fc.f01bc8","type":"catch","z":"43ce739f.db083c","name":"","scope":null,"uncaught":false,"x":340,"y":40,"wires":[["b500862a.022358"]]},{"id":"b500862a.022358","type":"debug","z":"43ce739f.db083c","name":"freelancer.de Errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":40,"wires":[]},{"id":"6bab666f.f04b98","type":"catch","z":"47ac7602.dc7818","name":"","scope":null,"uncaught":false,"x":320,"y":40,"wires":[["1f72c50e.a2b91b"]]},{"id":"1f72c50e.a2b91b","type":"debug","z":"47ac7602.dc7818","name":"freelance.de Errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":40,"wires":[]},{"id":"5671d258.c92e2c","type":"function","z":"5a5a273b.f680c8","name":"Count saved Projects","func":"if (msg.payload.title === \"\" || msg.payload.title == \"504 Gateway Time-out\") {\n    return;\n}\n\nmsg.payload = [\n{\n    value: 1,\n    links: (\"links\" in msg.payload ? msg.payload.links.length : 0),\n    videos: (\"videos\" in msg.payload ? msg.payload.videos.length : 0),\n    text: (\"text\" in msg.payload ? msg.payload.text.length : 0),\n    title: (\"title\" in msg.payload ? msg.payload.title.length : 0),\n    description: (\"description\" in msg.payload ? msg.payload.description.length : 0),\n},\n{\n    // Dirrty! https://stackoverflow.com/questions/13506460/how-to-extract-the-host-from-a-url-in-javascript\n    source: msg.payload.source\n}\n];\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[["2e72d51f.cbe09a","43847b45.3a5fd4"]]},{"id":"2e72d51f.cbe09a","type":"influxdb out","z":"5a5a273b.f680c8","influxdb":"7b3bc72b.d79f28","name":"projects_saved","measurement":"projects_saved","precision":"","retentionPolicy":"","x":700,"y":140,"wires":[]},{"id":"f8d689a3.070c68","type":"mqtt in","z":"4fe6f092.4ba19","name":"","topic":"broker","qos":"2","datatype":"json","broker":"a2636dba.09499","x":110,"y":360,"wires":[["451d9ff0.038d"]]},{"id":"451d9ff0.038d","type":"change","z":"4fe6f092.4ba19","name":"Trigger Scraping","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"trigger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":360,"wires":[["18ca28ab.cb38b7"]]},{"id":"fa45b46d.09f7f8","type":"debug","z":"4fe6f092.4ba19","name":"scraping output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":560,"wires":[]},{"id":"43847b45.3a5fd4","type":"debug","z":"5a5a273b.f680c8","name":"projects_saved","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":180,"wires":[]},{"id":"4bcc58a3.88e5f8","type":"http in","z":"a032bf06.43f62","name":"[GET] /devops","url":"/devops","method":"get","upload":false,"swaggerDoc":"","x":140,"y":60,"wires":[["1ec8a76a.f53e99","aa22e7e1.e31bd8"]]},{"id":"71b5352f.31e23c","type":"template","z":"a032bf06.43f62","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>DevOps Projects</title>\n        <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css\" integrity=\"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm\" crossorigin=\"anonymous\">\n        <!-- Bootstrap core CSS -->\n\n        <!-- Custom fonts for this template -->\n        <link href=\"https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900\" rel=\"stylesheet\">\n        <link href=\"https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i\" rel=\"stylesheet\">\n\n\n        <style>\n            body {\n              font-family: 'Lato';\n            }\n            \n            h1,\n            h2,\n            h3,\n            h4,\n            h5,\n            h6 {\n              font-family: 'Catamaran';\n              font-weight: 800 !important;\n            }\n            \n            .btn-xl {\n              text-transform: uppercase;\n              padding: 1.5rem 3rem;\n              font-size: 0.9rem;\n              font-weight: 700;\n              letter-spacing: 0.1rem;\n            }\n            \n            .bg-black {\n              background-color: #000 !important;\n            }\n            \n            .rounded-pill {\n              border-radius: 5rem;\n            }\n            \n            .navbar-custom {\n              padding-top: 1rem;\n              padding-bottom: 1rem;\n              background-color: rgba(0, 0, 0, 0.7);\n            }\n            \n            .navbar-custom .navbar-brand {\n              text-transform: uppercase;\n              font-size: 1rem;\n              letter-spacing: 0.1rem;\n              font-weight: 700;\n            }\n            \n            .navbar-custom .navbar-nav .nav-item .nav-link {\n              text-transform: uppercase;\n              font-size: 0.8rem;\n              font-weight: 700;\n              letter-spacing: 0.1rem;\n            }\n            \n            header.masthead {\n              position: relative;\n              overflow: hidden;\n              padding-top: calc(7rem + 72px);\n              padding-bottom: 7rem;\n              /*background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);*/\n              background-repeat: no-repeat;\n              background-position: center center;\n              background-attachment: scroll;\n              background-size: cover;\n              background-image: url(\"https://source.unsplash.com/wh-RPfR_3_M/\");\n            }\n            \n            header.masthead .masthead-content {\n              z-index: 1;\n              position: relative;\n            }\n            \n            header.masthead .masthead-content .masthead-heading {\n              font-size: 4rem;\n            }\n            \n            header.masthead .masthead-content .masthead-subheading {\n              font-size: 2rem;\n            }\n            \n            header.masthead .bg-circle {\n              z-index: 0;\n              position: absolute;\n              border-radius: 100%;\n              /*background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);*/\n            }\n            \n            header.masthead .bg-circle-1 {\n              height: 90rem;\n              width: 90rem;\n              bottom: -55rem;\n              left: -55rem;\n            }\n            \n            header.masthead .bg-circle-2 {\n              height: 50rem;\n              width: 50rem;\n              top: -25rem;\n              right: -25rem;\n            }\n            \n            header.masthead .bg-circle-3 {\n              height: 20rem;\n              width: 20rem;\n              bottom: -10rem;\n              right: 5%;\n            }\n            \n            header.masthead .bg-circle-4 {\n              height: 30rem;\n              width: 30rem;\n              top: -5rem;\n              right: 35%;\n            }\n            \n            @media (min-width: 992px) {\n              header.masthead {\n                padding-top: calc(10rem + 55px);\n                padding-bottom: 10rem;\n              }\n              header.masthead .masthead-content .masthead-heading {\n                font-size: 6rem;\n              }\n              header.masthead .masthead-content .masthead-subheading {\n                font-size: 4rem;\n              }\n            }\n            \n            .bg-primary {\n              background-color: #ee0979 !important;\n            }\n            \n            .btn-primary {\n              /*background-color: #ee0979;\n              border-color: #ee0979;*/\n            }\n            \n            .btn-primary:active, .btn-primary:focus, .btn-primary:hover {\n              background-color: #bd0760 !important;\n              border-color: #bd0760 !important;\n            }\n            \n            .btn-primary:focus {\n              box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);\n            }\n            \n            .btn-secondary {\n              background-color: #ff6a00;\n              border-color: #ff6a00;\n            }\n            \n            .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {\n              background-color: #cc5500 !important;\n              border-color: #cc5500 !important;\n            }\n            \n            .btn-secondary:focus {\n              box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);\n            }\n            \n            .project_list {\n                list-style-type: none;\n            }\n        </style>\n\n    </head>\n    <body>\n        <!-- Navigation -->\n        <!--<nav class=\"navbar navbar-expand-lg navbar-dark navbar-custom fixed-top\">\n            <div class=\"container\">\n              <a class=\"navbar-brand\" href=\"https://devops-projects.de\">DevOps Projects</a>\n              <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarResponsive\" aria-controls=\"navbarResponsive\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n                <span class=\"navbar-toggler-icon\"></span>\n              </button>\n              <!--<div class=\"collapse navbar-collapse\" id=\"navbarResponsive\">\n                <ul class=\"navbar-nav ml-auto\">\n                  <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">Sign Up</a>\n                  </li>\n                  <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"#\">Log In</a>\n                  </li>\n                </ul>\n              </div>\n            </div>\n        </nav>-->\n        <header class=\"masthead text-center text-white\">\n            <div class=\"masthead-content\">\n              <div class=\"container\">\n                <h1 class=\"masthead-heading mb-0\">DevOps Projects</h1>\n                <h2 class=\"masthead-subheading mb-0\">A Job-Board for german DevOps positions</h2>\n                <a href=\"#projects\" class=\"btn btn-primary btn-xl rounded-pill mt-5\">Get Started</a>\n              </div>\n            </div>\n            <div class=\"bg-circle-1 bg-circle\"></div>\n            <div class=\"bg-circle-2 bg-circle\"></div>\n            <div class=\"bg-circle-3 bg-circle\"></div>\n            <div class=\"bg-circle-4 bg-circle\"></div>\n        </header>\n        <section>\n            <div class=\"container\" id=\"projects\">\n                <div class=\"row align-items-center\">\n                    <div class=\"col-lg-12 order-lg-2\">\n                        <div class=\"p-5\">\n                            <h1>DevOps Projects</h1>\n                            <p>An auto-generated list of <b>DevOps</b> Projects from popular <b>German Sites</b></p>\n                            <ul class=\"project_list list-group\">\n                            {{#payload}}\n                                <li class=\"list-group-item\">\n                                    <a target=\"_blank\" href=\"{{url}}\">{{title}}</a>\n                                    <span class=\"badge badge-primary\">{{source}}</span> \n                                    <span class=\"badge badge-secondary\">{{human_date}}</span> \n                                </li>\n                            {{/payload}}\n                            </ul>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n        <section>\n            <div class=\"container\">\n                <div class=\"row align-items-center\">\n                    <div class=\"col-lg-12 order-lg-2\">\n                        <div class=\"p-5\">\n                            <h2>Subscribe</h2>\n                            <p>You can subscribe to <b>DevOps Projects</b> through the following channels:</p>\n                            <p><a class=\"btn btn-primary\" href=\"https://telegram.me/devops_projects_bot?start=start\" target=\"_blank\">Telegram</a></p>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n        <section>\n            <div class=\"container\">\n                <div class=\"row align-items-center\">\n                    <div class=\"col-lg-12 order-lg-2\">\n                        <div class=\"p-5\">\n                            <h2>About</h2>\n                            <p>This tool is built with <a href=\"https://github.com/node-red/node-red\">Node-Red</a> and <a href=\"https://github.com/mongodb/mongo\">MongoDB</a>. Behind the curtains, <a href=\"https://github.com/influxdata/influxdb\">InfluxDB</a> and <a href=\"https://github.com/grafana/grafana\">Grafana</a> are collecting statistics about the projects scraped to learn about <b>DevOps</b> adoption in the German Industry over time.</p>\n                            <p>The stack is served by <a href=\"https://github.com/containous/traefik\">Traefik</a> running on <a href=\"https://github.com/docker\">Docker</a>.</p>\n                            <p>The Index will be updated every 30 Minutes and Projects will be kept in the Index for 10 days before they expire.</p>\n                            <hr>\n                            <p>\n                                This is <b>Alpha Software</b>. Use at your own risk. Ping <a href=\"https://github.com/derfabianpeter/devops-projects\">me</a> if you have any issues, questions or ideas.\n                            </p>\n                            <hr>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n        <section>\n            <div class=\"container\">\n                <div class=\"row align-items-center\">\n                    <div class=\"col-lg-12 order-lg-2\">\n                        <div class=\"p-5\">\n                            <h2>Roadmap</h2>\n                            <ul>\n                                <li>[x] Subscribe to latest projects via Telegram, Facebook, Slack</li>\n                                <li>[ ] Subscribe to latest projects via API/Websocket</li>\n                                <li>[ ] Add more Scraping Sources</li>\n                                <li>[x] Push Sources to GitHub (mostly NodeRed Flows)</li>\n                            </ul>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n        <section>\n            <div class=\"container\">\n                <div class=\"row align-items-center\">\n                    <div class=\"col-lg-12 order-lg-2\">\n                        <div class=\"p-5\">\n                            <h2>Author</h2>\n                            <p>This tool is maintained by <a href=\"https://www.peter.saarland\">Fabian Peter.</a></p>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n    </body>\n</html>","output":"str","x":340,"y":160,"wires":[["15e6d931.d4cfd7"]]},{"id":"15e6d931.d4cfd7","type":"http response","z":"a032bf06.43f62","name":"","statusCode":"","headers":{},"x":650,"y":140,"wires":[]},{"id":"1ec8a76a.f53e99","type":"function","z":"a032bf06.43f62","name":"Get Projects","func":"msg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":60,"wires":[["9f56b73d.8b1828"]]},{"id":"9f56b73d.8b1828","type":"mongodb in","z":"a032bf06.43f62","mongodb":"1d161765.a25dc9","name":"","collection":"projects","operation":"find","x":420,"y":100,"wires":[["5c63f26e.ddb53c"]]},{"id":"e199c440.1542c8","type":"inject","z":"5a5a273b.f680c8","name":"Projects older than 10d","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":460,"wires":[["bac09b6e.a7bf78"]]},{"id":"5f4d3530.4b8b0c","type":"mongodb in","z":"5a5a273b.f680c8","mongodb":"1d161765.a25dc9","name":"projects.find()","collection":"projects","operation":"find","x":580,"y":460,"wires":[["570b11d4.68746"]]},{"id":"570b11d4.68746","type":"debug","z":"5a5a273b.f680c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":520,"wires":[]},{"id":"bac09b6e.a7bf78","type":"function","z":"5a5a273b.f680c8","name":"Prepare Query","func":"// We delete projects from the index after 10 days\nvar d = new Date();\nd.setDate(d.getDate()-10);\nmsg.payload.creation_date = {\n    \"$gte\": d\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["5f4d3530.4b8b0c","570b11d4.68746"]]},{"id":"aa22e7e1.e31bd8","type":"function","z":"a032bf06.43f62","name":"Log Access to /devops","func":"msg.payload.value = 1;\n\nvar referer = \"none\";\nif (\"referer\" in msg.req.headers && msg.req.headers.referer !== \"\") {\n    node.warn(msg.req.headers.referer);\n    // Get Referer\n    var match = msg.req.headers.referer.match(/:\\/\\/(www[0-9]?\\.)?(.[^/:]+)/i);\n    if (match !== null && match.length > 2 && typeof match[2] === 'string' && match[2].length > 0) {\n        referer = match[2];\n    }\n    else {\n        referer = \"\";\n    }\n}\nmsg.payload = [\n{\n    value: 1,\n},\n{\n    // Dirrty! https://stackoverflow.com/questions/13506460/how-to-extract-the-host-from-a-url-in-javascript\n    referer: referer\n}\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":280,"wires":[["12ee5857.14b4a8","9f91363.61e84c8"]]},{"id":"12ee5857.14b4a8","type":"influxdb out","z":"a032bf06.43f62","influxdb":"7b3bc72b.d79f28","name":"access_log","measurement":"access_log","precision":"","retentionPolicy":"","x":410,"y":280,"wires":[]},{"id":"9f91363.61e84c8","type":"debug","z":"a032bf06.43f62","name":"access_log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":320,"wires":[]},{"id":"2bc299b1.b89246","type":"chatbot-message","z":"d2143b4e.692a38","name":"Message","message":[{"message":"Hey! You have been successfully subscribed to DevOps Projects."}],"answer":false,"silent":false,"x":620,"y":140,"wires":[["7239a31b.c09cac"]]},{"id":"8822ec04.1ce98","type":"mongodb in","z":"d2143b4e.692a38","mongodb":"1d161765.a25dc9","name":"","collection":"chats","operation":"find","x":180,"y":500,"wires":[["43c3af57.45ad6"]]},{"id":"3dcf2816.df8728","type":"function","z":"d2143b4e.692a38","name":"Prepare User Lookup","func":"msg.originalPayload = msg.payload;\n\nvar chatId = msg.payload.chatId;\nmsg.payload = {};\nmsg.payload.chatId = chatId;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":460,"wires":[["8822ec04.1ce98"]]},{"id":"43c3af57.45ad6","type":"switch","z":"d2143b4e.692a38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":330,"y":500,"wires":[["3beb59f3.35a506"],[]]},{"id":"327398de.6b5748","type":"mongodb out","z":"d2143b4e.692a38","mongodb":"1d161765.a25dc9","name":"Subscribe ChatId","collection":"chats","payonly":true,"upsert":true,"multi":false,"operation":"store","x":410,"y":560,"wires":[]},{"id":"3beb59f3.35a506","type":"function","z":"d2143b4e.692a38","name":"Save and Subscribe","func":"//msg.payload = msg.originalPayload;\nmsg.payload =\n{\n    chatId: msg.originalPayload.chatId,\n    userId: msg.originalPayload.userId,\n    transport: msg.originalPayload.transport\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":560,"wires":[["327398de.6b5748","171fc9b4.1c7016"]]},{"id":"411ada87.a30f74","type":"chatbot-command","z":"d2143b4e.692a38","name":"","command":"/subscribe","x":390,"y":140,"wires":[["2bc299b1.b89246","11b10e08.79f7d2"]]},{"id":"cf396173.d90db","type":"link in","z":"d2143b4e.692a38","name":"/subscribe","links":["11b10e08.79f7d2"],"x":55,"y":460,"wires":[["3dcf2816.df8728"]]},{"id":"11b10e08.79f7d2","type":"link out","z":"d2143b4e.692a38","name":"/subscribe","links":["cf396173.d90db","196ed090.4b8d3f"],"x":335,"y":180,"wires":[]},{"id":"340c48e6.9a0198","type":"link in","z":"d2143b4e.692a38","name":"Telegram Sender","links":["7239a31b.c09cac","6c370172.7fd7a","2f70c172.1adfae","d5de9ffa.4aff7","976826b5.cd7178"],"x":55,"y":40,"wires":[["910469ea.e66448"]]},{"id":"7239a31b.c09cac","type":"link out","z":"d2143b4e.692a38","name":"Telegram Sender","links":["340c48e6.9a0198"],"x":575,"y":180,"wires":[]},{"id":"b46a53e5.00c45","type":"chatbot-command","z":"d2143b4e.692a38","name":"","command":"/latest","x":370,"y":240,"wires":[["b026b6f4.68b9a8"]]},{"id":"27899235.71de2e","type":"mongodb in","z":"d2143b4e.692a38","mongodb":"1d161765.a25dc9","name":"Find /latest projects","collection":"projects","operation":"find","x":580,"y":280,"wires":[["fa13710b.9d3d2"]]},{"id":"b026b6f4.68b9a8","type":"function","z":"d2143b4e.692a38","name":"Prepare /latest Lookup","func":"msg.originalPayload = msg.payload;\n\nmsg.payload = {};\nmsg.limit = 10;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["27899235.71de2e"]]},{"id":"ad8c1f9b.30d0e","type":"debug","z":"d2143b4e.692a38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":180,"wires":[]},{"id":"6c370172.7fd7a","type":"link out","z":"d2143b4e.692a38","name":"Telegram Sender","links":["340c48e6.9a0198"],"x":1095,"y":280,"wires":[]},{"id":"fa13710b.9d3d2","type":"function","z":"d2143b4e.692a38","name":"Prepare /latest Message","func":"var header = \"📆 <strong>\"+msg.payload.length+\" Projects</strong>\\n\\n\";\nvar body = \"\";\n\nmsg.payload.forEach(function(project){\n  console.log(project);\n  body = body+\"<strong>\"+project.title+\"</strong>: \";\n  \n  body = body + \" \"+project.url+\"\\n\";\n  \n  //body = body + \"\\n\";\n});\nmsg.payload = header+body;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":280,"wires":[["bd520498.5f7e38"]]},{"id":"bd520498.5f7e38","type":"chatbot-message","z":"d2143b4e.692a38","name":"Message","message":[],"answer":false,"silent":false,"x":1000,"y":280,"wires":[["6c370172.7fd7a"]]},{"id":"c528dd56.9939f8","type":"chatbot-command","z":"d2143b4e.692a38","name":"","command":"/start","x":370,"y":100,"wires":[["98330c4b.f981e"]]},{"id":"49f5784f.47ca7","type":"comment","z":"d2143b4e.692a38","name":"ToDo - Welcome message","info":"","x":450,"y":60,"wires":[]},{"id":"98330c4b.f981e","type":"chatbot-inline-buttons","z":"d2143b4e.692a38","name":"Welcome","buttons":[{"type":"postback","label":"Subscribe","value":"/subscribe","answer":"You subscribed to DevOps Projects","alert":false,"style":"primary"},{"type":"postback","label":"Latest Projects","value":"/latest","answer":"Here are the latest DevOps Projects","alert":false,"style":"default"}],"message":"Hey {{firstName}}! Welcome to <b>DevOps Projects</b>.\n\nYou can /subscribe to DevOps Projects to receive Notifications about new projects \n<b>OR</b>\nList the /latest DevOps Projects.\n\nOf course you can also /unsubscribe.","x":620,"y":100,"wires":[["2f70c172.1adfae","ad8c1f9b.30d0e"]]},{"id":"2f70c172.1adfae","type":"link out","z":"d2143b4e.692a38","name":"Telegram Sender","links":["340c48e6.9a0198"],"x":735,"y":100,"wires":[]},{"id":"c250196c.76bfc8","type":"chatbot-command","z":"d2143b4e.692a38","name":"","command":"/unsubscribe","x":350,"y":360,"wires":[["744894a0.a7b94c","163e24e8.17611b"]]},{"id":"744894a0.a7b94c","type":"link out","z":"d2143b4e.692a38","name":"/unsubscribe","links":["5604f892.b1bd08"],"x":295,"y":400,"wires":[]},{"id":"6b52ae97.280d6","type":"mongodb in","z":"d2143b4e.692a38","mongodb":"1d161765.a25dc9","name":"","collection":"chats","operation":"find","x":620,"y":500,"wires":[["c563a567.b17308","171fc9b4.1c7016"]]},{"id":"1d8a5bc6.1eb1a4","type":"function","z":"d2143b4e.692a38","name":"Unsubscribe Prepare User Lookup","func":"msg.originalPayload = msg.payload;\n\nvar chatId = msg.payload.chatId;\nmsg.payload = {};\nmsg.payload.chatId = chatId;\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":460,"wires":[["6b52ae97.280d6"]]},{"id":"c563a567.b17308","type":"switch","z":"d2143b4e.692a38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":770,"y":500,"wires":[[],["f7c7ab37.865d98"]]},{"id":"a91b2ae4.3c54d8","type":"mongodb out","z":"d2143b4e.692a38","mongodb":"1d161765.a25dc9","name":"Unsubscribe chatId","collection":"chats","payonly":true,"upsert":true,"multi":false,"operation":"delete","x":850,"y":560,"wires":[]},{"id":"f7c7ab37.865d98","type":"function","z":"d2143b4e.692a38","name":"Unsubscribe","func":"//msg.payload = msg.originalPayload;\nmsg.payload =\n{\n    chatId: msg.originalPayload.chatId,\n    userId: msg.originalPayload.userId,\n    transport: msg.originalPayload.transport\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":560,"wires":[["a91b2ae4.3c54d8"]]},{"id":"5604f892.b1bd08","type":"link in","z":"d2143b4e.692a38","name":"/unsubscribe","links":["744894a0.a7b94c"],"x":495,"y":460,"wires":[["1d8a5bc6.1eb1a4"]]},{"id":"163e24e8.17611b","type":"chatbot-message","z":"d2143b4e.692a38","name":"Message","message":[{"message":"Hey! You have been successfully unsubscribed from DevOps Projects."}],"answer":false,"silent":false,"x":540,"y":360,"wires":[["d5de9ffa.4aff7"]]},{"id":"d5de9ffa.4aff7","type":"link out","z":"d2143b4e.692a38","name":"Telegram Sender","links":["340c48e6.9a0198"],"x":495,"y":400,"wires":[]},{"id":"171fc9b4.1c7016","type":"debug","z":"d2143b4e.692a38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":620,"wires":[]},{"id":"3b8e4f1d.4ae6a","type":"inject","z":"d2143b4e.692a38","name":"Chat Subscriber","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":840,"wires":[["78aee33b.bad91c"]]},{"id":"1f84847.f9ddc7c","type":"mongodb in","z":"d2143b4e.692a38","mongodb":"1d161765.a25dc9","name":"chats.find()","collection":"chats","operation":"find","x":290,"y":760,"wires":[["9a9de71b.235fd8"]]},{"id":"163b5a59.844516","type":"chatbot-message","z":"d2143b4e.692a38","name":"Message","message":[],"answer":false,"silent":false,"x":960,"y":760,"wires":[["976826b5.cd7178","ca6e6c34.311af","95dd012c.1e41c"]]},{"id":"9a9de71b.235fd8","type":"split","z":"d2143b4e.692a38","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":440,"y":760,"wires":[["f5e574f2.913a08","ca6e6c34.311af"]]},{"id":"f5e574f2.913a08","type":"chatbot-conversation","z":"d2143b4e.692a38","name":"Start Conversation","botDevelopment":"261672c5.53165e","botProduction":"261672c5.53165e","chatId":"","userId":"","transport":"telegram","store":"541f6324.99a4bc","x":630,"y":760,"wires":[["383c9e07.9f7c32"]]},{"id":"c6dbf32e.44c12","type":"mqtt out","z":"5a5a273b.f680c8","name":"","topic":"subscribers/project_saved","qos":"","retain":"","broker":"a2636dba.09499","x":520,"y":220,"wires":[]},{"id":"4719381d.87a328","type":"mqtt in","z":"d2143b4e.692a38","name":"","topic":"subscribers/project_saved","qos":"2","datatype":"json","broker":"a2636dba.09499","x":130,"y":700,"wires":[["78aee33b.bad91c","ca6e6c34.311af"]]},{"id":"78aee33b.bad91c","type":"function","z":"d2143b4e.692a38","name":"Prepare Message","func":"msg.project = msg.payload;\nmsg.message = \"<b>Hey</b>! There's a new Project on <b>DevOps Projects</b>: \\n\\n\"+msg.project.url;\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":760,"wires":[["1f84847.f9ddc7c"]]},{"id":"ca6e6c34.311af","type":"debug","z":"d2143b4e.692a38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":840,"wires":[]},{"id":"976826b5.cd7178","type":"link out","z":"d2143b4e.692a38","name":"Telegram Sender","links":["340c48e6.9a0198"],"x":855,"y":700,"wires":[]},{"id":"383c9e07.9f7c32","type":"change","z":"d2143b4e.692a38","name":"Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":760,"wires":[["163b5a59.844516"]]},{"id":"95dd012c.1e41c","type":"function","z":"d2143b4e.692a38","name":"Messages Sent","func":"msg.payload = 1;\nmsg.payload = [\n{\n    value: 1,\n},\n{\n    // Dirrty! https://stackoverflow.com/questions/13506460/how-to-extract-the-host-from-a-url-in-javascript\n    transport: msg.originalMessage.transport\n}\n];\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":840,"wires":[["8eca501d.67724"]]},{"id":"8eca501d.67724","type":"influxdb out","z":"d2143b4e.692a38","influxdb":"7b3bc72b.d79f28","name":"messages_sent","measurement":"messages_sent","precision":"","retentionPolicy":"","x":1260,"y":840,"wires":[]},{"id":"5c63f26e.ddb53c","type":"function","z":"a032bf06.43f62","name":"Format Output","func":"msg.payload.forEach(function(item){\n  var d = new Date(item.creation_date).toISOString();\n  //var date_format_str = (d.getDate().toString().length==2?d.getDate().toString():\"0\"+d.getDate().toString())+\".\"+((d.getMonth()+1).toString().length==2?(d.getMonth()+1).toString():\"0\"+(d.getMonth()+1).toString())+\".\"+d.getFullYear().toString()+\" \"+(d.getHours().toString().length==2?d.getHours().toString():\"0\"+d.getHours().toString())+\":\"+((parseInt(d.getMinutes()/5)*5).toString().length==2?(parseInt(d.getMinutes()/5)*5).toString():\"0\"+(parseInt(d.getMinutes()/5)*5).toString())+\":00\";\n  item.human_date = d;\n});\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":100,"wires":[["42b1e7b.3177f18","71b5352f.31e23c"]]},{"id":"42b1e7b.3177f18","type":"debug","z":"a032bf06.43f62","name":"projects","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":80,"wires":[]}]